<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      color: #333;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2.5rem;
      margin-top: 50px;
      
    }

    form {
      background: #ffffff;
      padding: 20px;
      margin: 20px auto;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-width: 350px;
      display: flex;
      flex-direction: column;
      line-height: 30px;
      margin-top: 60px;
    }
    form label{
        text-align: center;
    }

    form input, form button {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
      text-align: center;
    }

    form input:focus {
      border-color: #4caf50;
      outline: none;
    }

    form button {
      background-color: #4caf50;
      color: white;
      border: none;
      font-size: 16px;

      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    form button:hover {
      background-color: #45a049;
    }
</style>
<body>
    <center>
        <h1>Edit Book Store Data</h1>
    </center>
    <form action="/updatedata" method="post">
        
        <input hidden type="text" value="<%=singledata.id%>" name="id">
        <label for="">Book Name:</label>
        <input type="text" value="<%=singledata.name%>" placeholder="Enter Name" name="name"> <br>
        <label for="">Book Author:</label>
        <input type="text" value="<%=singledata.Author%>" placeholder="Enter Subject" name="Author"> <br>
        <label for="">Book Price:</label>
        <input type="number" value="<%=singledata.Price%>" placeholder="Enter Age" name="Price"> <br>
        <label for="">Book Release Date:</label>
        <input type="date" value="<%=singledata.Date%>" placeholder="Enter Age" name="Date"> <br>
        <button type="submit">Edit Data</button>
      </form>
</body>
</html>